html, body {
    height: 100%;
}
/* getting rid of whitespace under the footer */
main {
    min-height: calc(100% - 160px);
    padding: 2% 5%;
}

.col-7 > h1, h2 {
    text-align: center;
    margin: 1em;
}
.col-7 > p {
    text-align: justify;
}
.container {
    padding: 5%;
}
.avatar {
    border-radius: 8px;
    width: 60%;
}
.social-icon-container {
    text-align: center;
}
.social-icon {
    width: 1.25em;
    font-size: 1.75em;
    color: darkblue;
    margin-right: 1em;
}
.google-map {
    margin-top: 3em;
}