#about-me {
    padding: 2% 5%;
}
.about-text-block > h1, h2, P {
    text-align: center;
    justify-content: center;
    margin: 1em;
}
.avatar {
    border-radius: 8px;
    width: 328px;
}
.social-icon-container {
    text-align: center;
}
.social-icon {
    width: 1.25em;
    font-size: 1.75em;
    color: darkblue;
    margin-right: 1em;
}

#google-map {
    margin-top: 3em;
    text-align: center;
    padding: 2% 5%;
}
.google-map > iframe {
    border-radius: 12px;
}