@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* -------------- custom variables ---------------- */
:root {
    --blue: #14213D;
    --orange: #FCA311;
    --gray: #8D99AE;
    --light-gray: #F2F2F2;

    /* overriding bootstrap */
    --cstm-bs-navbar-color: #fff;
    --cstm-bs-nav-link-hover-color: #8b96a8;
}

* {
    font-family: "Roboto", sans-serif, "Geneva", "Tahoma", "Verdana";
    font-weight: 500;
    /* box-sizing: content-box; */
}

/* -------------- <header> (<nav>) ---------------- */
.navbar {
    display: block;
    background-color: var(--blue);
    color: var(--cstm-bs-navbar-color);
    --bs-navbar-color: var(--cstm-bs-navbar-color);
    --bs-navbar-active-color: var(--cstm-bs-navbar-color);
    --bs-nav-link-hover-color: var(--light-gray);
}
.navbar-brand {
    margin: 0 1.5em 0.15em 1em;
    width: 1.75em;
    height: 1.75em;
}
/* inverting color to white because .navbar-brand: color: #fff doesn't work */
.navbar-brand img {
    filter: invert(1);
}
/* distance between logo and menu */
@media (max-width: 576px) {
    .navbar {
        display: flex;
    }

    .navbar-brand {
        margin-left: 5%;
        margin-right: 65%;
    }

    .navbar-toggler {
        margin-right: 5%;
    }
}
.navbar-nav {
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-font-size: 1.25rem;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: var(--cstm-bs-navbar-color);
    --bs-nav-link-hover-color: var(--gray);
    display: flex;
    justify-content: space-between;
}
.navbar-nav .nav-item {
    margin-right: 1.5em;
}

/* -------------- </header> (</nav>)---------------- */

/* -------------- <main> ---------------- */
/* -------------- <section> (#1 - hero) ---------------- */
#index-hero {
    padding: 5% 1%;
    background-color: #a2bcff2d;
}
.text-center {
    align-self: center;
}
#index-hero p {
    margin-top: 4%;
    text-align: justify;
    font-size: 1.25rem;
    color: #3e3e3edf;
}
.index-hero-img {
    justify-self: center;
    align-self: center;
}

/* -------------- </section> (#1 - hero) ---------------- */

/* -------------- <section> (#2 - healthy-diet-benefits) ---------------- */
#healthy-diet-benefits {
    background-color: #a4c1ff68;
    padding: 0.1%;
}
#healthy-diet-benefits .display-5 {
    text-align: center;
    margin-top: 0.5em;
}

/* carousel */
.carousel {
    margin-bottom: 4rem;
    margin: 1em 2em;
}
.carousel-item-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}
.carousel-img {
    margin: 2em 1em;
    height: 25em;
    width: 25em;
}
/* declared heights because of positioning of img element */
.carousel-item>.row>.container {
    align-self: center;
    justify-content: center;
}
.carousel-item p {
    margin-top: 2em;
    text-align: justify;
    font-size: 1.15em;
    color: rgb(62, 62, 62);
}
.carousel-control-btn {
    margin: -3.5em;
}

/* /carousel */

/* -------------- </section> (#2 - healthy-diet-benefits) ---------------- */
/* -------------- </main> ---------------- */

/* -------------- <footer> ---------------- */
footer {
    padding: 1em 20%;
    background-color: var(--blue);
}
/* overwriting bootstrap links properties */
footer .text-body-secondary {
    margin-right: 1em;
    --bs-text-opacity: 1;
    color: #fff !important;
}
footer .text-body-secondary:hover {
    color: #ededed !important;
}
/* copyright symbol and name*/
.footer-link {
    text-decoration: none;
    font-size: 1.15em;
    color: #fff;
    margin-left: 0.5em;
}
footer .footer-link:hover {
    color: #ededed;
}
/* -------------- </footer> ---------------- */